*.code-workspace
*.pyc
LeMur
web_app/.gradio/certificate.pem
web_app/output/refined_schedule.txt
web_app/output/schedule.txt
extras/perf_benchmark/output/schedule.txt
perf_benchmark/benchmark_output copy.txt
